.footer {
  max-width: 880px;
  margin: 66px auto 60px auto;
  padding: 0 19px 0 19px;
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 282px;
    margin-top: 48px;
    margin-bottom: 36px;
    margin-left: 0;
  }
}
