.popup__container {
  margin: 0;
  width: 430px;
  position: fixed;
  justify-content: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .popup__container {
    width: 282px;
    /* height: 322px; */
  }
}
